@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #333;
  padding: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 15px;
  cursor: pointer;
  font-size: medium;
}

/* ArticleList.css */

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 600px;
}

.article-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgb(167, 16, 76);
}

.article-body {
  line-height: 1.6;
  margin-bottom: 10px;
}

.article-author {
  color: #555;
  font-style: bold;
}

/* Form.css */

.custom-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #970a32;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


